pipeline/DynamicPipeline.json
{
	"name": "DynamicPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADFConfiguration",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "ADFConfiguration"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "transfer multiple tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().Source_SchemaName}.@{item().Source_TableName}"
								},
								{
									"name": "Destination",
									"value": "@{item().Target_SchemaName}.@{item().Target_TableName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "truncate table @{item().Target_SchemaName}.@{item().Target_TableName}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "date_of_birth",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "date_of_birth",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "teacher_name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "teacher_name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "subjects",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "subjects",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "marks",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "marks",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StudentDataset",
									"type": "DatasetReference",
									"parameters": {
										"DatabaseName": {
											"value": "@item().DatabaseName",
											"type": "Expression"
										},
										"ServerName": {
											"value": "@item().ServerName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().Source_SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().Source_TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "childrendata",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().Target_SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().Target_TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-08T06:45:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}