ADFGobibo/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFGobibo"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase2'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyStorageToSqlTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table gobibodb.dbo.studentdata",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DOB",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "teacher_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "subject",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "subjects",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "marks",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "marks",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "GobiboCSVData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StudentData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-04-01T07:19:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GobiboCSVData')]",
				"[concat(variables('factoryId'), '/datasets/StudentData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADFConfiguration",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "ADFConfiguration"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "transfer multiple tables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().Source_SchemaName}.@{item().Source_TableName}"
										},
										{
											"name": "Destination",
											"value": "@{item().Target_SchemaName}.@{item().Target_TableName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "truncate table @{item().Target_SchemaName}.@{item().Target_TableName}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "name",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "name",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "date_of_birth",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "date_of_birth",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "teacher_name",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "teacher_name",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "subjects",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "subjects",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "marks",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "marks",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "StudentDataset",
											"type": "DatasetReference",
											"parameters": {
												"DatabaseName": {
													"value": "@item().DatabaseName",
													"type": "Expression"
												},
												"ServerName": {
													"value": "@item().ServerName",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@item().Source_SchemaName",
													"type": "Expression"
												},
												"TableName": {
													"value": "@item().Source_TableName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "childrendata",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@item().Target_SchemaName",
													"type": "Expression"
												},
												"TableName": {
													"value": "@item().Target_TableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-04-08T06:45:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADFConfiguration')]",
				"[concat(variables('factoryId'), '/datasets/StudentDataset')]",
				"[concat(variables('factoryId'), '/datasets/childrendata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADFConfiguration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference",
					"parameters": {
						"DatabaseName": "gobibodb",
						"ServerName": "gobibo.database.windows.net",
						"Username": "gobibo"
					}
				},
				"parameters": {
					"SchemaName": {
						"type": "String",
						"defaultValue": "dbo"
					},
					"TableName": {
						"type": "String",
						"defaultValue": "ADFConfiguration"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ServerName",
						"type": "varchar"
					},
					{
						"name": "DatabaseName",
						"type": "varchar"
					},
					{
						"name": "Source_SchemaName",
						"type": "varchar"
					},
					{
						"name": "Source_TableName",
						"type": "varchar"
					},
					{
						"name": "Target_SchemaName",
						"type": "varchar"
					},
					{
						"name": "Target_TableName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@{dataset().SchemaName}",
						"type": "Expression"
					},
					"table": {
						"value": "@{dataset().TableName}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GobiboCSVData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "gobibo.csv",
						"container": "gobibocontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "DOB",
						"type": "String"
					},
					{
						"name": "teacher_name",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "marks",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StudentData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "date_of_birth",
						"type": "varchar"
					},
					{
						"name": "teacher_name",
						"type": "varchar"
					},
					{
						"name": "subjects",
						"type": "varchar"
					},
					{
						"name": "marks",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "studentdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StudentDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference",
					"parameters": {
						"DatabaseName": "gobibodb",
						"ServerName": "gobibo.database.windows.net",
						"Username": "gobibo"
					}
				},
				"parameters": {
					"DatabaseName": {
						"type": "string",
						"defaultValue": "gobibodb"
					},
					"ServerName": {
						"type": "string",
						"defaultValue": "gobibo.database.windows.net"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "studentdata"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "date_of_birth",
						"type": "varchar"
					},
					{
						"name": "teacher_name",
						"type": "varchar"
					},
					{
						"name": "subjects",
						"type": "varchar"
					},
					{
						"name": "marks",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@{dataset().SchemaName}",
						"type": "Expression"
					},
					"table": {
						"value": "@{dataset().TableName}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/childrendata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference",
					"parameters": {
						"DatabaseName": "gobibodb",
						"ServerName": "gobibo.database.windows.net",
						"Username": "gobibo"
					}
				},
				"parameters": {
					"SchemaName": {
						"type": "String",
						"defaultValue": "dbo"
					},
					"TableName": {
						"type": "String",
						"defaultValue": "childrendata"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "date_of_birth",
						"type": "varchar"
					},
					{
						"name": "teacher_name",
						"type": "varchar"
					},
					{
						"name": "subjects",
						"type": "varchar"
					},
					{
						"name": "marks",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@{dataset().SchemaName}",
						"type": "Expression"
					},
					"table": {
						"value": "@{dataset().TableName}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"DatabaseName": {
						"type": "String",
						"defaultValue": "gobibodb"
					},
					"ServerName": {
						"type": "String",
						"defaultValue": "gobibo.database.windows.net"
					},
					"Username": {
						"type": "String",
						"defaultValue": "gobibo"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase2_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}